* {
  box-sizing: border-box;
  _outline: 2px solid red;
  _background-color: aqua;
}

/* .main-title {
  font-family: "Rubik Moonrocks";
} */

body {
  margin: 20px;
  padding: 20px;
  font-family: "Lato";
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-family: "Rubik Moonrocks";
  font-size: 45px;
  _font-family: Lato;
}

.main-navigation {
  text-decoration: none;
  color: #4e434d;
  padding: 5px;
}

.about-myself {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 15px;
}

.image {
  _object-fit: contain;
  padding: 10px;
  width: 300px;
  height: fit-content;
}

.skills-and-interests {
  _padding: 10px;
}

.styling-tags {
  _background-color: #827081;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 10px;
}

.styling-single-tags {
  background-color: #cfbaf0;
  border-radius: 5px 5px 5px 5px;
  padding: 3px;
}
.contact {
  background-color: #827081;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 2px;
  margin: 20px;
}

.social-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

.single-social-card {
  display: flex;
  gap: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
}
.social-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(#e66465, #9198e5);
  border-radius: inherit;
  box-sizing: border-box;
}

.content-single-social-card {
  padding: 5px;
  width: 100%;
  box-sizing: content-box;
  font-size: small;
  display: flex;
  flex-direction: column;
}

.link-social-card {
  text-decoration: none;
  color: #7a7a7a;
}
