* {
  box-sizing: border-box;
  /* outline: 2px solid red; */
  _background-color: aqua;
}

/* .main-title {
  font-family: "Rubik Moonrocks";
} */

body {
  margin: 20px;
  padding: 20px;
  background-color: #f0d9e8;
  font-family: "Lato";
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-family: "Rubik Moonrocks";
  font-size: 45px;
  _font-family: Lato;
}

.main-navigation {
  text-decoration: none;
  color: #4e434d;
  padding: 5px;
}

.about-myself {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: #af92a2;
  _box-shadow: 10px 5px 5px black;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px 2px 2px 2px;
}

.image {
  object-fit: contain;
  padding: 10px;
}

.skills-and-interests {
  padding: 10px;
}

.contact {
  background-color: #827081;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  margin: 20px;
}

/* section {
  background-color: #e7a9d1;
  padding: 10px;
  border: 2px solid #a2708c;
  margin: 10px solid;
}

.card-styling {
  background-color: #a2708c;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 15px;
}

.social-cards {
  background-color: aqua;
}

p {
  background-color: #cea4cb;
} */
