@import url("/base.css");
@import url("/design-system/navigation/styles.css");
@import url("/design-system/headlines/styles.css");
@import url("/design-system/blockquote/styles.css");
@import url("/design-system/social-card/styles.css");

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.about-myself {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 10px;

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 15px;
}

.image {
  _object-fit: contain;
  padding: 10px;
  width: 25%;
  height: fit-content;
}

.skills-and-interests {
  padding: 10px;
  _box-sizing: content-box;
  _outline: 2px solid green;
}

.tags {
  _background-color: #827081;
  -display: flex;
  _flex-direction: row;
  _flex-wrap: wrap;
  _justify-content: flex-start;
  _align-content: flex-start;
  _gap: 10px;
}

.tag {
  background-color: #cfbaf0;
  border-radius: 5px 5px 5px 5px;
  padding: 3px;
  max-width: fit-content;
}
.contact {
  background-color: #827081;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  padding: 10px;
  _margin: 20px;
}
